
Color_Pallete{
    color: #e31b6d;
    color: #252934;
    color: #3A3D47;
    color: white;
    color: #04C2C9;
}


body{
    text-align: center;
}
h1{
    font-size:xx-large;
}
h2{

}
header{
text-align: center;
    
}
h1{

}
ul{
}
nav{
    text-align: center;
    font-variant: small-caps;
}
h1{
    text-align: center;
}
p{
}