Color_Pallete{
    color: #e31b6d;
    color: #252934;
    color: #3A3D47;
    color: white;
    color: #04C2C9;
    color: #1A7073;
}



*{
    align-content: center;
    text-align: center;
    font-family: "Courier New";
}

.full_width {
    display:table;
    width:100%;
    table-layout:fixed;
    border-spacing:0 0;

}

h1{
    font-weight:normal;
}

#buttons_main{
    background-color: #252933;
}

#intro_to_projects{
    padding-left: 10px;
    padding-right: 10px;
}
a{
    width: 200px;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-style:none;
    text-decoration: none;

}
a:hover{
    color: #e31b6d;
    cursor: pointer;
}

#buttons_main{
    text-align: left;
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: left;
}
#about_intro{
    background-color: #04C2C9 !important;
    height: 10px;
}

body{
    background-color: #1A7073;
    padding:0;
    margin:0;
}
#highlighted_name{
    color: #e31b6d;
}

#main_page{
    background-color: #3A3D47;
    color: white;
    min-height: 83.1vh !important;
    margin-top: 0vh !important;
    height: 100%;
    padding-top: 100px !important;

    
}

#about, #intro_to_projects{
    background-color: whitesmoke;
    position:static;
    align-self: center;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 0vh;
    min-height: 100vh !important;

}

