Color_Pallete{
    color: #e31b6d;
    color: #252934;
    color: #3A3D47;
    color: white;
    color: #04C2C9;
    color: #C20114;
}



*{
    align-content: center;
    text-align: center;
    font-family: "Courier New";
    font-weight:normal;
    
}


body{
    background-color: gray ;
    padding:0;
    margin:0;
}



.full_width {
    display:table;
    width:100%;
    table-layout:fixed;
    border-spacing:0 0;

}


#buttons_main{
    background-color: #252933;
}

#intro_to_projects{
    padding-left: 10px;
    padding-right: 10px;
}
nav a{
    width: 200px;
    background-color: transparent;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-style:none;
    text-decoration: none;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    

}
nav  a:hover{
    color: #e31b6d;
    cursor: pointer;
}

#buttons_main{
    text-align: left;
    list-style-type: none;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: left;
}
#about_intro{
    background-color: #04C2C9 !important;
    height: 13px;
}


.highlighted_text{
    color: #e31b6d;
}

#main_page{
    background-color: #3A3D47;
    color: white;
    min-height: 82.8vh !important;
    margin-top: 0vh !important;
    height: 100%;
    padding-top: 100px !important;

    
}

#about, #projects{
    background-color: whitesmoke;
    position:static;
    align-self: center;
    margin-right: 4%;
    margin-left:4%;
    margin-top: 0vh;
    min-height: 100vh !important;
}

#about_me{
    float: right;
    height: 50%;
    width: 30%;
    margin-right: 5%;
    margin-top: 0%;
    color: black;
    border-color: black;
    border-width: 1px;
    border-style: double;
    height: 80vh;
    padding-right: 3%;
    padding-left: 3%;
}

.project{
    width: 5px;
    height: 10px;
}

.skills_button_img{
    width: 10%;
    height: 10%;
}

.project_image{
    width: 5px;
    height: 5px;
}
